h1 {
   color : blue;
}

.header {
    background-color:#00FF00 ;
    display : flex;
    justify-content:  center;
}
.games{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.footer{
    display: flex;
    justify-content: flex-end;
}